<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/style.css" rel = "stylesheet"/>
    <title>Add Movie</title>
</head>

<body style="display: flex; justify-content: center; align-content: center; flex-direction: column">
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">ADD MOVIE</strong>
        <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
            <a aria-hidden="true" href="/"></a>
        </button>
    </div>
    <div class="toast-body">
        <div class="col-sm-10">
            <form th:method="post" action="/add">
                <label  class="form-label mt-4" for="movie_name">
                    Movie Name:
                </label>
                <input class="form-control" type="text" name = "movie_name" id="movie_name">
                <label  class="form-label mt-4" for="url">
                    Image Url:
                </label>
                <input class="form-control" type="text" name = "url" id="url">
                <input style="margin-top: 40px" class="btn btn-primary" type="submit" value="Add Movie to Database">
            </form>
        </div>
    </div>
</div>

</body>
</html>